<main class="main__userProfile">
{{#if user}}
  <h1>Welcome, {{ user.name }}!</h2>
  <h2>Recent Posts</h2>
  <hr>
  {{#each user.posts}}
  <p>Title: {{title}}</p>
  <p>Description: {{description}}</p>
  <img src="{{imageUrl}}" class="main__userProfile-post-img" alt="{{title}}">
  <div>
    <a class="main__userProfile-edit-post" href="/userProfile/{{_id}}/edit"><button class="btn">Edit Post</button></a>
  </div>
  <hr>
  {{/each}}
  </main>
  <nav class="nav">
    <a class="nav__link" href="/userProfile">
      <span class="material-icons nav__icon">home</span>
      <span class="nav__text">Home</span>
    </a>
    <a class="nav__link" href="/userProfile/edit">
      <span class="material-icons nav__icon">edit</span>
      <span class="nav__text">Edit profile</span>
    </a>
    <a class="nav__link" href="/userProfile/create">
      <span class="material-icons nav__icon">add</span>
      <span class="nav__text">Create post</span>
    </a>
    {{!-- <form class="nav__link" id="logout-form" action="/logout" method="POST">
        <span class="material-icons nav__icon">logout</span>
        <button class="nav__btn-logout">Logout</button>
    </form> --}}
    <a href="/logout" class="nav__link">
      <span class="material-icons nav__icon">logout</span>
      <button class="nav__btn-logout">Logout</button>
    </a>
  </nav>
{{else}}
  <p>Still not logged in, sorry!</p> 
  <a href="/">Log in to see your profile</a>
{{/if}}
