<div>
  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
</div>


{{#if user}}
<p>My Posts</p>
  <h2>Welcome, {{ user.name }}!</h2>
  <p>This is your profile page {{user.name}}!</p>
  <h3>Recent Posts</h3>
  {{#each user.posts}}
  <p>{{title}}</p>
  <button>
    <a href="/userProfile/{{_id}}/edit">Edit Post</a>
  </button>
  {{/each}}
  
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
  <button>
  <a href="/userProfile/edit">Edit</a>
  </button>
  <button>
    <a href="/userProfile/create">Create Post</a>
  </button>
  <form action="/userProfile/delete" method="POST"> 
    <button>Delete</button>
  </form>
{{else}}
  <p>Still not logged in, sorry!</p> 
  <a href="/">Log in to see your profile</a>
{{/if}}
