<div>
  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
</div>


{{#if user}}
<p>My Posts</p>
  <h2>Welcome, {{ user.name }}!</h2>
  <h3>Recent Posts</h3>
  {{#each user.posts}}
  <p>{{title}}</p>
  <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
  <button>
    <a href="/userProfile/{{_id}}/edit">Edit Post</a>
  </button>
  {{/each}}
  
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
  <button>
  <a href="/userProfile/edit">Edit Profile</a>
  </button>
  {{!-- <button>
    <a href="/userProfile/create">Create Post</a>
  </button> --}}
  <form action="/userProfile/delete" method="POST"> 
    <button>Delete Profile</button>
  </form>
  <nav class="nav">
    <a class="nav__link" href="/userProfile">
      <span class="material-icons nav__icon">home</span>
      <span class="nav__text">Home</span>
    </a>
    <a class="nav__link" href="/userProfile/edit">
      <span class="material-icons nav__icon">edit</span>
      <span class="nav__text">Edit profile</span>
    </a>
    <a class="nav__link" href="/userProfile/create">
      <span class="material-icons nav__icon">add</span>
      <span class="nav__text">Create post</span>
    </a>
    <form id="logout-form" action="/logout" method="POST">
      <a class="nav__link" href="/userProfile">
        <span class="material-icons nav__icon">logout</span>
        <span class="nav__text">Logout</span>
      </a>
    </form>
  </nav>
{{else}}
  <p>Still not logged in, sorry!</p> 
  <a href="/">Log in to see your profile</a>
{{/if}}
